---
import { getCollection } from 'astro:content'
import { getReadingTime } from '#utils/get-reading-time'
import GlobalLayout from '#layouts/global-layout.astro'
import Container from '#components/container.astro'

const allEelections = await getCollection('elections')

const elections = (
  await Promise.all(
    allEelections.map(async (elect) => ({
      slug: elect.id,
      data: elect.data,
      posts: (
        await getCollection(
          'ballot-measures',
          ({ data }) => data.election.id === elect.id,
        )
      ).sort(
        (a, b) =>
          new Date(b.data.electionDate).getTime() -
            new Date(a.data.electionDate).getTime() ||
          a.slug.localeCompare(b.slug),
      ),
    })),
  )
)
  .filter((elect) => elect.posts.length > 0)
  .sort(
    (a, b) =>
      new Date(b.data.electionDate).getTime() -
      new Date(a.data.electionDate).getTime(),
  )
---

<GlobalLayout>
  <Container class="my-12">
    <h1 class="text-3xl font-bold mb-8 text-neutral-700">All Elections</h1>

    <ul class="grid grid-cols-3 gap-x-12">
      {
        elections.map((cat) => (
          <li class="block h-12 border-b">
            <a
              href={`#${cat.slug}`}
              class="flex size-full items-center justify-between"
            >
              <span class="font-bold text-gray-800">{cat.data.title}</span>
              <span class="text-gray-500">{cat.posts.length}</span>
            </a>
          </li>
        ))
      }
    </ul>

    <div class="space-y-16">
      {
        elections.map((elect) => (
          <div>
            <div class="mt-8 mb-4">
              <h2 id={elect.slug} class="text-lg font-bold text-neutral-500">
                {elect.data.title}
              </h2>
            </div>
            <div class="space-y-8">
              {elect.posts.map((post) => (
                <div>
                  <div class="mb-1">
                    <h3 class="text-2xl font-bold text-[#2f7d95] hover:text-[#235e70]">
                      <a
                        class="underline"
                        href={`/ballot-measure/${post.slug}`}
                      >
                        {post.data.title}
                      </a>
                    </h3>
                  </div>
                  <div class="mt-1 flex items-center gap-1 text-neutral-500 mb-2">
                    <span
                      class="icon-[fa6-regular--clock] size-3"
                      aria-hidden
                    />
                    <span class="text-sm">{getReadingTime(post.body)}</span>
                  </div>
                  <div>
                    <p>{post.data.excerpt}</p>
                  </div>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</GlobalLayout>
