---
import { getCollection } from 'astro:content'
import { getReadingTime } from '#utils/get-reading-time'
import GlobalLayout from '#layouts/global-layout.astro'
import Container from '#components/container.astro'
import { getEntryUrl } from '#utils/get-url'

const allEelections = await getCollection('elections')

const elections = (
  await Promise.all(
    allEelections.map(async (elect) => ({
      slug: elect.id,
      data: elect.data,
      ballotMeasures: (await getCollection('ballot-measures', ({ data }) => data.election.id === elect.id)).sort(
        (a, b) =>
          new Date(b.data.electionDate).getTime() - new Date(a.data.electionDate).getTime() ||
          a.slug.localeCompare(b.slug),
      ),
    })),
  )
)
  .filter((elect) => elect.ballotMeasures.length > 0)
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
---

<GlobalLayout>
  <Container class="my-16">
    <h1 class="text-3xl font-bold mb-8 text-neutral-700">All Elections</h1>

    <ul class="grid grid-cols-2 lg:grid-cols-3 gap-x-4 lg:gap-x-12">
      {
        elections.map((elect) => (
          <li class="block h-12 border-b">
            <a href={`#${elect.slug}`} class="flex size-full items-center justify-between">
              <span class="font-bold text-gray-800">{elect.data.title}</span>
              <span class="text-gray-500">{elect.ballotMeasures.length}</span>
            </a>
          </li>
        ))
      }
    </ul>

    <div class="space-y-16 mt-12">
      {
        elections.map((elect) => (
          <div>
            <div class="mt-8 mb-4">
              <h2 id={elect.slug} class="text-xl font-bold text-neutral-500">
                {elect.data.title}
              </h2>
            </div>
            <div class="space-y-8">
              {elect.ballotMeasures.map((bm) => (
                <div>
                  <div class="mb-1">
                    <h3 class="text-2xl font-bold text-[#2f7d95] hover:text-[#235e70]">
                      <a class="underline" href={getEntryUrl(bm)}>
                        {bm.data.title}
                      </a>
                    </h3>
                  </div>
                  <div class="mt-1 flex items-center gap-1 text-neutral-500 mb-2">
                    <span class="icon-[fa6-regular--clock] size-3" aria-hidden="true" />
                    <span class="text-sm">{getReadingTime(bm.body)}</span>
                  </div>
                  <div>
                    <p>{bm.data.excerpt}</p>
                  </div>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</GlobalLayout>
