---
import { getCollection } from 'astro:content'
import dayjs from 'dayjs'
import { getReadingTime } from '#utils/get-reading-time'
import GlobalLayout from '#layouts/global-layout.astro'
import Container from '#components/container.astro'

const allTags = await getCollection('tags')

const tags = (
  await Promise.all(
    allTags.map(async (tag) => ({
      slug: tag.id,
      data: tag.data,
      posts: (
        await getCollection('posts', ({ data }) =>
          data.tags?.some((postTag) => postTag.id === tag.id),
        )
      ).sort(
        (a, b) =>
          new Date(b.data.electionDate).getTime() -
            new Date(a.data.electionDate).getTime() ||
          a.slug.localeCompare(b.slug),
      ),
    })),
  )
).sort(
  (a, b) => b.posts.length - a.posts.length || a.slug.localeCompare(b.slug),
)
---

<GlobalLayout>
  <Container>
    <ul class="grid grid-cols-3 gap-x-12 divide-y">
      {
        tags.map((tag) => (
          <li class="block h-12">
            <a
              href={tag.slug}
              class="flex size-full items-center justify-between"
            >
              <span>{tag.data.title}</span>
              <span>{tag.posts.length}</span>
            </a>
          </li>
        ))
      }
    </ul>

    <div class="space-y-16">
      {
        tags.map((tag) => (
          <div>
            <div class="mb-4">
              <h2 class="text-lg font-bold">{tag.data.title}</h2>
            </div>
            <div class="space-y-8">
              {tag.posts.map((post) => (
                <div>
                  <div class="mb-1">
                    <span>
                      {dayjs(post.data.electionDate).format('MMMM D, YYYY')}
                    </span>
                  </div>
                  <div class="mb-1">
                    <h3 class="text-2xl font-bold">
                      <a class="underline" href={post.slug}>
                        {post.data.title}
                      </a>
                    </h3>
                  </div>
                  <div class="mb-1">
                    <span>{getReadingTime(post.body)}</span>
                  </div>
                  <div>
                    <p>{post.data.excerpt}</p>
                  </div>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</GlobalLayout>
