---
import Container from '#components/container.astro'
import YesNoTable from '#components/yes-no-table.astro'
import GlobalLayout from '#layouts/global-layout.astro'
import { getReadingTime } from '#utils/get-reading-time'
import { Image } from 'astro:assets'
import { getEntry } from 'astro:content'
import { getEntries } from 'astro:content'
import { getCollection } from 'astro:content'
import dayjs from 'dayjs'

export async function getStaticPaths() {
  const allBallotMeasures = await getCollection('ballot-measures')
  return allBallotMeasures.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const tags = await getEntries(post.data.tags || [])
const election = await getEntry(post.data.election)
const relatedMeasures = await getCollection('ballot-measures', (bm) => {
  return bm.data.election.id === election.id && bm.id !== post.id
})

const { Content } = await post.render()
---

<GlobalLayout>
  <div class="bg-center bg-no-repeat bg-cover relative">
    <Image
      class="absolute size-full inset-0 object-cover z-10"
      src={post.data.header.overlay_image}
      loading="eager"
      alt=""
      aria-hidden
    />
    <div class="relative z-20 bg-black/50 py-20">
      <div
        class="max-w-7xl mx-auto px-6 [text-shadow:1px_1px_4px_rgba(0,0,0,0.5)]"
      >
        <h1
          class="mb-8 max-w-prose text-5xl font-bold leading-tight text-white"
        >
          {post.data.title}
        </h1>
        <p class="text-white text-2xl max-w-prose mb-8">
          {post.data.excerpt}
        </p>
        <p class="text-white flex items-center gap-2">
          <span class="icon-[fa6-regular--clock] size-4" aria-hidden></span>
          <span>{getReadingTime(post.body)}</span>
        </p>
      </div>
    </div>
  </div>

  <Container>
    <div class="prose prose-neutral my-12">
      <Content components={{ YesNoTable }} />
    </div>

    <!-- Tags -->
    <div class="space-y-2">
      <div class="flex items-center gap-4">
        <div class="flex gap-2 items-center text-gray-500">
          <span class="icon-[fa6-solid--tags] size-5" aria-hidden></span>
          <span class="font-bold">Tags:</span>
        </div>
        <ul class="flex gap-2 list-none">
          {
            tags.map((tag) => (
              <li>
                <a
                  class="flex rounded h-9 px-3 items-center border no-underline text-neutral-600 border-neutral-400"
                  href={`/tags#${tag.id}`}
                >
                  {tag.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="flex items-center gap-4">
        <div class="flex gap-2 items-center text-gray-500">
          <span class="icon-[fa6-solid--folder-open] size-5" aria-hidden></span>
          <span class="font-bold">Election:</span>
        </div>
        <ul>
          <li>
            <a
              class="flex rounded h-9 px-3 items-center border no-underline text-neutral-600 border-neutral-400"
              href={`/elections#${election.id}`}>{election.data.title}</a
            >
          </li>
        </ul>
      </div>
      <div class="flex items-center gap-4 h-9">
        <div class="flex gap-2 items-center text-gray-500">
          <span class="icon-[fa6-solid--calendar-days] size-5" aria-hidden
          ></span>
          <span class="font-bold">Updated: </span>
        </div>
        <span>{dayjs(post.data.lastModifiedDate).format('MMMM D, YYYY')}</span>
      </div>
    </div>

    <!-- Related Posts -->

    {
      relatedMeasures.length > 0 ? (
        <div class="mt-12">
          <h2 class="uppercase font-bold mb-8 text-neutral-600">
            Related ballot measures
          </h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-8 gap-x-4">
            {relatedMeasures.map((rm) => (
              <div class="relative">
                <Image
                  class="aspect-video rounded mb-2"
                  src={rm.data.header.overlay_image}
                  alt={rm.data.header.image_description || ''}
                />
                <p class="text-xl font-bold text-neutral-600 mb-1">
                  <a
                    class="after:inset-0 after:absolute"
                    href={`/ballot-measure/${rm.slug}`}
                  >
                    {rm.data.title}
                  </a>
                </p>
                <div class="flex items-center gap-1 text-neutral-500 mb-2">
                  <span class="icon-[fa6-regular--clock] size-3" aria-hidden />
                  <span class="text-sm">{getReadingTime(rm.body)}</span>
                </div>
                <p>{rm.data.excerpt}</p>
              </div>
            ))}
          </div>
        </div>
      ) : null
    }
  </Container>
</GlobalLayout>
